[submodule "packages/foundry/lib/openzeppelin-contracts"]
	path = packages/foundry/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "packages/foundry/lib/forge-std"]
	path = packages/foundry/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "packages/foundry/lib/solidity-bytes-utils"]
	path = packages/foundry/lib/solidity-bytes-utils
	url = https://github.com/gnsps/solidity-bytes-utils
[submodule "packages/foundry/lib/hedera-forking"]
	path = packages/foundry/lib/hedera-forking
	url = https://github.com/hashgraph/hedera-forking
[submodule "packages/foundry/lib/pyth-sdk-solidity"]
	path = packages/foundry/lib/pyth-sdk-solidity
	url = https://github.com/pyth-network/pyth-sdk-solidity
